<%= render 'shared/header' %>
<p>検索結果</p>
<% if @results.length !=0 %>
  <% @results.each do |item| %>
    <li class='list'>
          <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.images[0], class: "item-img" %>
            <% if Order.exists?(item_id: item.id) %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= DeliveryFee.data[item.delivery_fee_id-1][:name] %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<%= render 'shared/footer' %>